<section class="my-5">
    <div class="container">
        <h2 class="h1 fw-bolder text-center mb-4 text-orange">Why Choose Us </h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="content text-white bg-dark rounded text-center py-5 px-2">
                    <i class="fa-solid fa-truck fs-3 mb-3"></i>
                    <h3 class="mb-3">Fast Delivery</h3>
                    <p>get your orders delivered to you quickly,no matter where you are!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content text-white bg-dark rounded text-center py-5 px-2">
                    <i class="fa-solid fa-shipping-fast fs-3 mb-3"></i>
                    <h3 class="mb-3">Free Shipping</h3>
                    <p>enjoy free shipping on all orders,no matter where you are!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content text-white bg-dark rounded text-center py-5 px-2">
                    <i class="fa-solid fa-medal fs-3 mb-3"></i>
                    <h3 class="mb-3">Best Quality</h3>
                    <p>we offer only the highest quality products to ensure your satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</section>