<section class=" text-white py-5 shadow-sm">
    <div class="container hero-section d-flex py-5 align-items-center">
        <div class="mb-5 text-secondary">
            <h1 class="mb-3">discover the best electronic devices</h1>
            <p class="lead mb-4">find the best gadgets at great prices. shop now and enjoy special discount! </p>
            <a class="btn bg-orange text-white">shop now</a>
        </div>
        <div>
            <img src="/images/slide1_image.webp" class="w-100" alt="">
        </div>
    </div>
</section>