<footer class="text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-1">
                <h5 class="text-orange">About Us</h5>
                <p>We are a leading e-commerce platform offering the best deals on electronic devices. Discover amazing products at unbeatable prices.</p>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-1">
                <h5 class="text-orange">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white text-decoration-none"><i class="fa-solid fa-angle-right me-2"></i>Home</a></li>
                    <li><a class="text-white text-decoration-none"><i class="fa-solid fa-angle-right me-2"></i>Shop</a></li>
                    <li><a class="text-white text-decoration-none"><i class="fa-solid fa-angle-right me-2"></i>Contact Us</a></li>
                    <li><a class="text-white text-decoration-none"><i class="fa-solid fa-angle-right me-2"></i>FAQ</a></li>
                </ul>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-1">
                <h5 class="text-orange">Company</h5>
                <ul class="list-unstyled">
                    <li><a  class="text-white text-decoration-none">About Us</a></li>
                    <li><a  class="text-white text-decoration-none">Contact</a></li>
                    <li><a  class="text-white text-decoration-none">Careers</a></li>
                    <li><a  class="text-white text-decoration-none">Blog</a></li>
                </ul>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-1">
                <h5 class="text-orange">Newsletter</h5>
                <form>
                    <input type="email" class="form-control mb-3" placeholder="Your email">
                    <button type="submit" class="btn bg-orange text-white w-100">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2025 Your Company. All Rights Reserved.</p>
        </div>
    </div>
</footer>